<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>ff8f62174aaa80063bd5</string>
	<key>secret</key>
	<string>027b2fbb70b512bad11c2545f01e66058c24adf1</string>
</dict>
</plist>
